.body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.content-dialog {
    margin-left: 210px; /* Same as the width of the sidebar */
    margin-top: 120px;
    background-color: #f8f8f8;
    height: 80%;
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 3px;
    box-shadow: 5px 5px lightgrey;
    padding-bottom: 300px;
}

.content {
    margin-left: 10px;
}

.title {}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    background-color: #f8f8f8;
    box-shadow: 1px 1px lightgrey;
}

/* The navigation menu links */
.sidenavItem {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    margin-left: 25%;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: darkred;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.sidenavLogo {
    margin-left: 5px;
    margin-bottom: 25px;
}

.logo {
    width: 160px;
    top: 15px;
    left: 2px;
}

.top {
    position: fixed;
    top: 15px;
    right: 15px;
    text-align: right;
    height: 100px;
    line-height: 30px;
    margin-right: 10px;
}

/* Table CSS */
table {
    border-collapse: collapse;
    width: 95%;
    border-style: hidden;
}
td, th {
    text-align: left;
    border: 1px solid #ddd;
    padding: 4px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}

.successMsg  {
    background: lightgreen;
    color: black;
    text-align: center;
    margin-left: 30%;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 2px 2px lightgray;
    border-radius: 3px;
}

.errorMsg {
    background: lightcoral;
    color: black;
    text-align: center;
    margin-left: 30%;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 2px 2px lightgray;
    border-radius: 4px;
}

.button {
   background-image: linear-gradient(#f7f8fa ,#e7e9ec);
   border-color: #adb1b8 #a2a6ac #8d9096;
   border-style: solid;
   border-width: 1px;
   border-radius: 3px;
   box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
   box-sizing: border-box;
   color: #0f1111;
   cursor: pointer;
   display: inline-block;
   height: 18px;
   font-size: 13px;
   outline: 0;
   overflow: hidden;
   padding: 2px 10px 18px;
   text-align: center;
   text-decoration: none;
   text-overflow: ellipsis;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
}
.button:active {
    border-bottom-color: #a2a6ac;
}
.button-:active:hover {
    border-bottom-color: #a2a6ac;
}
.button:hover {
    border-color: #a2a6ac #979aa1 #82858a;
}
.button:focus {
    border-color: #e77600;
    box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
    outline: 0;
}

.button-small {
    background-image: linear-gradient(#f7f8fa ,#e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    height: 18px;
    font-size: 11px;
    outline: 0;
    overflow: hidden;
    padding: 0 4px 12px 4px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}
