{include file="templates/layout.html"}
<h2>Welcome to Akira, {$akira->getUser()->getFirstname()}</h2>
<h3>News</h3>
<p>- Akira lives!</p>
<br>
<h3>Update History</h3>
<p>- v0.2 - Added rendering of admin and frontend</p>
<p>- v0.1 - Basic setup</p>