{strip}
    {$name = $entity->getType()|strtolower}
{/strip}
{include file="templates/layout.html"}
<h2>{if $entity->getId()}Edit{else}New{/if} {$entity->getType()}</h2>
<div>
    <a class="button" href="/admin/{$name}s">Back</a>
</div>
<div style="width: 95%;">
    <form action="/admin/{$name}s/save" method="POST">
        <input type="hidden" name="id" value={$entity->getId()}>
        <div style="margin-left:60px;max-width:80%;">
            {foreach $entity->getFields() as $field}
                {$value = $entity->getValue($field.name)}
                <p>{$field.name|ucfirst} {if $field.required}*{/if}</p>
                {if $field.type === 'string'}
                    <input {if $field.password}type="password"{/if}
                       name="{$field.name}"
                       value="{if !$field.password}{$value}{/if}"
                       style="width:60%;max-width:600px;" {if $field.required}required{/if}
                    >
                {/if}
                {if $field.type === 'textarea'}
                    <textarea id="mytextarea" name="{$field.name}" style="height:300px;" {if $field.required}required{/if}>{$value}</textarea>
                {/if}
            {/foreach}
        </div><br><br>
        <input class="button" type="submit" value="Save">
    </form><br>
</div>
<script>
    tinymce.init({
        selector: '#mytextarea'
    });
</script>
{fetch file="templates/footer.html"}