<!-- Side navigation -->
<div class="sidenav">
    <div class="sidenavLogo">
        <a href="/admin/dashboard"><img src="/admin/templates/images/logo-dark.png" class="logo"></a>
    </div>
    <hr style="color:whitesmoke;width:85%;">
    <a href="/admin/pages" class="sidenavItem" style="{if $view == 'pages'}color: #fd1313;{/if}font-weight: bold;">Pages</a>
    <hr style="color:whitesmoke;width:85%;">
    <a href="/admin/users" class="sidenavItem" style="{if $view == 'users'}color: #fd1313;{/if}font-weight: bold;">Users</a>
    <hr style="color:whitesmoke;width:85%;">
</div>