{include file="templates/layout.html"}
{$pages = $akira->getPagesHandler()->getAll()}
<h2>Pages</h2>
<div>
    <a href="/admin/pages/new" class="button">New Page</a>
</div><br>
<div>
    <table style="width:90%">
        <tr>
            <th style="width:200px;">Name</th>
            <th style="width:150px;">Slug</th>
            <th style="width:40px;">ID</th>
            <th style="width:150px;">Created</th>
            <th style="width:150px;">Last Updated</th>
            <th></th>
        </tr>
        {foreach $pages as $page}
            <tr>
                <td>{$page->getName()}</td>
                <td>{$page->getSlug()}</td>
                <td>{$page->getId()}</td>
                <td>{$page->getCreated()}</td>
                <td>{$page->getUpdated()}</td>
                <td><a class="button-small" href="/admin/pages/edit/{$page->getId()}">Edit</a>
                    <a class="button-small" onclick="return confirm('Are you sure you want to delete this page?');" href="/admin/pages/delete/{$page->getId()}">Delete</a></td>
            </tr>
        {/foreach}
        {if empty($pages)}<tr><td>No Pages</td></tr>{/if}
    </table>
</div>
{fetch file="templates/footer.html"}