{include file="templates/layout.html"}
{$users = $akira->getUsersHandler()->getAll()}
<div class="title"><h2>Users</h2></div>
<div>
    <a href="/admin/users/new" class="button">New User</a>
</div><br>
<div>
    <table style="width:90%">
        <tr>
            <th style="width:100px;">Login</th>
            <th style="width:300px;">Email</th>
            <th style="width:50px;">Firstname</th>
            <th style="width:50px;">Surname</th>
            <th style="width:40px;">ID</th>
            <th style="width:150px;">Created</th>
            <th style="width:150px;">Last Updated</th>
            <th></th>
        </tr>
        {foreach $users as $user}
            <tr>
                <td>{$user->getLogin()}</td>
                <td>{$user->getEmail()}</td>
                <td>{$user->getFirstname()}</td>
                <td>{$user->getSurname()}</td>
                <td>{$user->getId()}</td>
                <td>{$user->getCreated()}</td>
                <td>{$user->getUpdated()}</td>
                <td><a class="button-small" href="/admin/users/edit/{$user->getId()}">Edit</a>&nbsp;
                    <a class="button-small" onclick="return confirm('Are you sure you want to delete this user?');" href="/admin/users/delete/{$user->getId()}">Delete</a></td>
            </tr>
        {/foreach}
        {if empty($users)}<tr><td>No Users</td></tr>{/if}
    </table>
</div>
{fetch file="templates/footer.html"}